[access]
	inheritFrom = All-Projects
[project]
	description = gen test repo
[access "refs/*"]
	owner = group user/Tanikella Tejaswi (teja2010)
[access "refs/for/refs/*"]
	read = group user/Tanikella Tejaswi (teja2010)
	push = group user/Tanikella Tejaswi (teja2010)
	label-Code-Review = -2..+2 group user/Tanikella Tejaswi (teja2010)
	label-Verified = -1..+1 group user/Tanikella Tejaswi (teja2010)
	rebase = group user/Tanikella Tejaswi (teja2010)
	removeReviewer = group user/Tanikella Tejaswi (teja2010)
	submit = group user/Tanikella Tejaswi (teja2010)
[access "refs/heads/*"]
	read = group user/Tanikella Tejaswi (teja2010)
	create = group user/Tanikella Tejaswi (teja2010)
	push = +force group user/Tanikella Tejaswi (teja2010)
	pushMerge = group user/Tanikella Tejaswi (teja2010)
[access "refs/tags/*"]
	push = group user/Tanikella Tejaswi (teja2010)
	push = +force group user/Tanikella Tejaswi (teja2010)
